<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/img/my_app.png" alt="Logo" style="height: 40px;">
    </ion-buttons>
    <ion-title>Profesor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlert()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Aquí puedes agregar más contenido del componente profesor -->
</ion-content>

<!-- Alerta -->
<ion-alert
  [buttons]="alertButtons"
  header="Desea cerrar su sesión"
  (didDismiss)="setResult($event)"
></ion-alert>
